<div id="salonHero" class="row">
    <div id="bookingTitle" class="col-5 gold">
        <h1>Book An Appointment</h1>
    </div>

</div>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> Name</span>
                </div>
                <input type="text" aria-label="First name" class="form-control">

            </div>
        </div>
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>Services</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Classic Lips</button>
                    <button ngbDropdownItem>Volume Lips</button>
                    <button ngbDropdownItem>Classic Lash</button>
                    <button ngbDropdownItem>Volume Lash</button>
                </div>
            </div>
        </div>
        <div class="col">
            <form class="form-inline">
                <!--<div class="form-group">-->
                <div class="input-group">
                    <input class="form-control" placeholder={{today.year}}-{{today.month}}-{{today.day}} name="dp"
                        [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [placement]="placement"
                        [positionTarget]="buttonEl">
                    <div class="input-group-append">
                        <button #buttonEl class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                            type="button"><img src="https://img.icons8.com/android/24/000000/calendar.png"></button>
                    </div>
                </div>
                <!--</div>-->
            </form>
        </div>
        <div class="col">
            <div ngbDropdown class="d-inline-block">
                <button class="btn btn-outline-light" id="dropdownBasic1" ngbDropdownToggle>Time</button>
                <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
                    <button ngbDropdownItem>Time</button>
                </div>
            </div>
        </div>
        <div class="col">
           
        </div>
    </div>
</div>