<app-hero-i></app-hero-i>
<app-divider></app-divider>
<div class="container-fluid gold">
    <div class="row " style="padding-top: 15px; padding-bottom: 20px;">
        <div class="col center fStyle">LIPS</div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3 black">
            <div class="row">
                <div class="col center boldF">Volume Enhancement</div>
            </div>
            <div class="row">
                <div class="col small">This procedure is for a Full volume service. Ideal for those that want a fuller and bigger lip size. For noticeable natural results this enhancement is recommend. Please note: This is a needless filler that is injected into the skin with a hyaluronic pen. Their is little no bruising, swelling or pain. A touch up is recommended to lock the filler in place. This filler can last anywhere from 3-6 months or longer with the proper care.
                30 minutes $275
                </div>
            </div>
            <div class="row">
                <div class="col center"><button type="button" routerLink="/booking" routerLinkActive="active" class="btn btn-dark">Book Now</button></div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-3 black ">
            <div class="row">
                <div class="col center boldF">Classic Enhancement</div>
            </div>
            <div class="row">
                <div class="col small">This procedure is for those that like their natural lip size already but would like to add a natural plump. This procedure is ideal for those that have not had any filler before. This enhancement takes about 30 minutes with consultation before and after pics. 
                35 minutes $175
                </div>
            </div>
            <div class="row">
                <div class="col center"><button type="button" routerLink="/booking" routerLinkActive="active" class="btn btn-dark">Book Now</button></div>
            </div>

        </div>
        <div class="col-2"></div>
    </div>
</div>
<app-divider></app-divider>
<div class="container-fluid white">
    <div class="row " style="padding-top: 15px; padding-bottom: 20px;">
        <div class="col center fStyle">LASHES</div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-3 goldT">
            <div class="row">
                <div class="col center boldF tblk">Light Volume Full</div>
            </div>
            <div class="row">
                <div class="col small tblk">Using 3D-4D fans to create a very natural look. 
                    1 hour Starting at $90
                </div>
            </div>
            <div class="row">
                <div class="col center"><button type="button" routerLink="/booking" routerLinkActive="active" class="btn btn-dark">Book Now</button></div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col-3 goldT">
            <div class="row">
                <div class="col center boldF tblk">Volume Full Set</div>
            </div>
            <div class="row">
                <div class="col small tblk">This set is ideal for some one that is looking for something natural but notice able. I use 4D-6D lashes to create a glam look. 
                    1 hour 45 minutes Starting at $100
                </div>
            </div>
            <div class="row">
                <div class="col center"><button type="button" routerLink="/booking" routerLinkActive="active" class="btn btn-dark">Book Now</button></div>
            </div>
        </div>
        <div class="col"></div>
        <div class="col-3 goldT"><div class="row">
            <div class="col center boldF tblk">Natural Hybrid</div>
        </div>
        <div class="row">
            <div class="col small tblk">1 hour 45 minutes Starting at $110
            </div>
        </div>
        <div class="row">
            <div class="col center"><button type="button" routerLink="/booking" routerLinkActive="active" class="btn btn-dark">Book Now</button></div>
        </div></div>
        <div class="col"></div>
    </div>
    
</div>
