<app-hero-i></app-hero-i>
<app-divider></app-divider>
<div class="container-fluid gold">
    <div class="row " style="padding-top: 15px; padding-bottom: 20px;">
        <div class="col center"><h1>Lips</h1></div>
    </div>
    <div class="row">
        <div class="col-2"></div>
        <div class="col-3 black">
            <div class="row">
                <div class="col">a</div>
            </div>
            <div class="row">
                <div class="col">a</div>
            </div>
            <div class="row">
                <div class="col">a</div>
            </div>
        </div>
        <div class="col-2"></div>
        <div class="col-3 black"></div>
        <div class="col-2"></div>
    </div>
</div>
<app-divider></app-divider>
<div class="container-fluid">
    <div class="row " style="padding-top: 15px; padding-bottom: 20px;">
        <div class="col center"><h1>Lashes</h1></div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col-3 goldT">a</div>
        <div class="col"></div>
        <div class="col-3 goldT">a</div>
        <div class="col"></div>
        <div class="col-3 goldT">a</div>
        <div class="col"></div>
    </div>
    
</div>
