.gold{
    background-color: #93720B;
}
.center{
    display: flex;
    justify-content: center;
}
.black{
    background: rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-bottom: 100px;
    color: white;
}
.goldT{
    background: rgba(147, 114, 11, 0.4);
    margin-top: 20px;
    margin-bottom: 100px;
    color: white;
}
.white{
    background-color: white;
}

