<div *ngIf = "cartCount < 1 "class="container-fluid">
  <div class="row white">
    <div class="col d-flex justify-content-center"><img src= '/assets/emptycart.png' alt="..." style="height: 500px;"></div>
  </div>
</div>
<div *ngIf = "cartCount >= 1" class="container d-flex justify-content-center" style="height: 700px;">
  <div class="row d-flex align-items-center">
    <div class="col-5">
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="fName">First Name</label>
            <input type ="name"class="form-control" id="fName" placeholder="First Name">
          </div>
          <div class="form-group col-md-6">
            <label for="lName">Last Name</label>
            <input type="name" class="form-control" id="lName" placeholder="Last Name">
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
        </div>
        <div class="form-group">
          <label for="inputAddress2">Address 2</label>
          <input type="text" class="form-control" id="inputAddress2" placeholder="Apartment, studio, or floor">
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputCity">City</label>
            <input type="text" class="form-control" id="inputCity">
          </div>
          <div class="form-group col-md-2">
            <label for="inputState">State</label>
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>CA</option>
            </select>
          </div>
          <div class="form-group col-md-4">
            <label for="inputZip">Zip</label>
            <input type="text" class="form-control" id="inputZip">
          </div>
        </div>
        <!--<button type="submit" class="btn btn-primary">Next</button>-->
      </form>
      <div class="row d-flex align-items-center">
        <div class="col">
          Credit Card
          <hr/>
          <div class="form-row">
              <div class="form-group col-md-6">
                <label for="name">Name on Card</label>
                <input type ="card name"class="form-control" id="cardName" placeholder="Name on Card">
              </div>
              <div class="form-group col-md-6">
                <label for="cardNumber">Credit Card Number</label>
                <input type="cardNumber" class="form-control" id="cardNumber" placeholder="Credit Card Number">
              </div>
            </div>
            <div class="form-row">
                <div class="form-group col-md-6">
                  <label for="exp">Expiration</label>
                  <input type="text" class="form-control" id="expDate">
                </div>
                
                <div class="form-group col-md-4">
                  <label for="cvc">CVC</label>
                  <input type="text" class="form-control" id="cvc">
                </div>
              </div>
        </div>
      </div>
    </div>
    <div class="col"></div>
    <div class="col-6 white">
      <app-cart-view></app-cart-view>
    </div>
  </div>
</div>