<!-- Just an image -->
<nav class="navbar">
        <a class="navbar-brand" href="#">
          <img src=".." width="30" height="30" alt="logo">
        </a>
        <ul class="nav justify-content-end">
                <li class="nav-item">
                  <a class="nav-link active" routerLink="landing" routerLinkActive="active">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="products" routerLinkActive="active">Products</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="login" routerLinkActive="active">Login</a>
                </li>
        </ul>
</nav>