<form class="form-inline">
    <div class="form-group">
        <div class="input-group">
            <input class="form-control" placeholder="Select a date" name="dp" [(ngModel)]="model" ngbDatepicker
                #d="ngbDatepicker" [placement]="top" [positionTarget]="buttonEl">
            <div class="input-group-append">
                <button #buttonEl class="btn btn-outline-secondary calendar" (click)="d.toggle()"
                    type="button">
                    
                </button>
            </div>
        </div>
    </div>
</form>